{{yield}}

<div class="row">
	<div class="col-12">
		<p>Filter events by:</p>
	</div>
	<div class="col-12 col-md-6">
		<div class="input-group">
		  <div class="input-group-prepend">
			<button type="button" class="btn btn-outline-primary" {{action "filterByType" on="click"}}>Meeting</button>
			<span class="input-group-text">Start date</span>
		  </div>
		  <form action="">
			  <input type="date" aria-label="Starting date picker" class="form-control start_date_picker" {{action "dateRange" on="change"}}>
			  <input type="date" aria-label="Ending date picker" class="form-control end_date_picker" {{action "dateRange" on="change"}}>
		  </form>
		  <div class="input-group-append">
				<span class="input-group-text">End date</span>
		  </div>
		</div>
	</div>
</div>

<div class="row section">
	{{#each this.data as |event|}}
		<div class="card m-1" style="width: 18rem;">
			<div class="card-body">
				<h3 class="card-title">{{default-text event.title default="[No title was given, sorry!]"}}</h3>
				<p class="card-text text-muted">
					<strong>Type:</strong> {{default-text event.type default="[No type was given, sorry!]"}} <br>
					<strong>Address:</strong> {{default-text event.address default="[No type was given, sorry!]"}} <br>
					<strong>Start Date:</strong> <span class="start_date">{{default-text event.start_date default="[No start date was given, sorry!]"}}</span> <br>
					<strong>End Date:</strong> <span class="end_date">{{default-text event.end_date default="[No end date was given, sorry!]"}}</span></p>
				<p class="card-text"><strong>Event description:</strong><br>{{default-text event.description default="[No description was given, sorry!]"}}</p>
			</div>
		</div>
	{{/each}}
</div>