{{yield}}

<div class="row section">
	{{#each this.data as |neighbourhood|}}
		<div class="card m-1" style="width: 18rem;">
			<div class="card-body">
				<h3 class="card-title">{{neighbourhood.name}}</h3>
				<p class="card-text">{{neighbourhood.description}}</p>
		    	<a href="./{{currentForce}}/{{neighbourhood.id}}" class="card-link btn btn-info">View Events</a>
			</div>
		</div>
	{{/each}}
</div>