	<div class="row section">
		<div class="col-12">
			<p class="text-muted"><a href="/forces">Forces browser</a> &gt; <a href="/neighbourhood/{{neighbourhoodEvent.force.id}}">{{neighbourhoodEvent.force.name}}</a> &gt; {{neighbourhoodEvent.neighbourhood.name}}</p>
			<h2>Events in {{neighbourhoodEvent.neighbourhood.name}}</h2>
		</div>
		<div class="col-12 col-md-8">
			<p>Below you can find all of the events for this neighbourhood. You can also find more information about the <a href="{{neighbourhoodEvent.neighbourhood.url_force}}" target="_blank">{{neighbourhoodEvent.force.name}} at their website</a>.</p>
		</div>
	</div>
	<NeighbourhoodEvent @data={{neighbourhoodEvent.neighbourhoodEvent}} @name={{neighbourhoodEvent.force}} @currentForce={{neighbourhoodEvent.force.id}} />